<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/gred.css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/footer.css">


</head>
<body>
  <header>
    <div class="container">
        <div class="row upperRow">
          <div class="col-1 logo ">
            <img src="img/logo.png" alt="siteLogo">
          </div>
          <div class="col-7 h" >
            <div class="row h flex-middle">
              <ul id="1" class="col-3 menuItem ">Item1
                <div id="sub1">
                  <li class="subMenu">sub1</li>
                  <li class="subMenu">sub2</li>
                  <li class="subMenu">sub3</li>
                  <li class="subMenu">sub4</li>
                  <li class="subMenu">sub5</li>
                </div>
              </ul>
              <ul id="2" class="col-3 menuItem  ">Item2
                <div id="sub2">
                  <li class="subMenu">sub1</li>
                  <li class="subMenu">sub2</li>
                  <li class="subMenu">sub3</li>
                  <li class="subMenu">sub4</li>
                  <li class="subMenu">sub5</li>
                </div>
              </ul>
              <ul id="3" class="col-3 menuItem  ">Item3
                <div id="sub3">
                  <li class="subMenu">sub1</li>
                  <li class="subMenu">sub2</li>
                  <li class="subMenu">sub3</li>
                  <li class="subMenu">sub4</li>
                  <li class="subMenu">sub5</li>
                </div>
              </ul>
              <ul id="4" class="col-3 menuItem  ">Item
                <div id="sub4">
                  <li class="subMenu">sub1</li>
                  <li class="subMenu">sub2</li>
                  <li class="subMenu">sub3</li>
                  <li class="subMenu">sub4</li>
                  <li class="subMenu">sub5</li>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-4 h">
            <div class="buttonContainer">
              <div class="button">Войти</div>
              <div class="button">Регистрация</div>
            </div>
          </div>
        </div>
    </div>
  </header>
  <main class="containerMin">
    <div class="registration">
      <h1 class="center">Registration</h1>
      <div class="row">
        <div class="col-4 labels">
          <label for="name">Enter Your Name</label>
          <label for="password">Enter password</label>
          <label for="re-password"> Repeat password</label>
          <label for="email">Email</label>
        </div>
        <div class="col-4 inputs">
          <input type="text">
          <input type="password">
          <input type="password">
          <input type="text">
        </div>
        <div class="col-4 google">
          <div class="googleButton">
            login with Google
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p>
        Developed By Boiko
      </p>
      <a href="">hnupsant@gmail.com</a>
    </div>
  </footer>
  <script type="text/javascript" src="js/vendor/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/header.js"></script>
</body>
</html>
